
<div class="container"  *ngIf="!isLoading">
    <h2 mat-dialog-title   >Deseja apagar <span>{{data.name}}</span>  da Base de Dados?</h2>
    
    <mat-dialog-content    >
        Esta ação é Irreversível e perderá todos os dados deste utilizador!
    </mat-dialog-content> 
    <mat-dialog-actions > 
        <button                
            mat-raised-button 
            color="warn" 
            class="action-button"  
            (click)="deleteUser(data.email)"
            >Apagar
        </button>
        <button           
            mat-raised-button
            color="primary"
            (click)="exitDeleteUserDialog()"
            class="action-button"  
            >Voltar            
        </button>
    </mat-dialog-actions>   
</div>

<mat-spinner *ngIf="isLoading" class="mat-spinner-dialog" ></mat-spinner>