<div class="albuns">

   
    <nav class="navbar sticky-top navbar-expand-lg navbar-light nav-bg pl-0">     
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          
          <a class="nav-item nav-link p-3" [routerLink]="'edit'" routerLinkActive="is-active">Ver/Editar Albuns</a>
          <a class="nav-item nav-link p-3" [routerLink]="'create'" routerLinkActive="is-active">Criar Album</a>
        </div>
      </div>
    </nav>
   
    <router-outlet></router-outlet>
</div>
