@import '~src/scss/styles.scss';


.is-active{
    background-color: white;
    color: $color-black-shaded;
}

.sidenav{
    border-style: none;



    &__wrapper {
        background-color: $color-black-shaded;
        height: 600px ;
        width: 20vw;
        color:white;
        overflow: hidden;
        
        &__welcome{
            display: block;
            font-size: 1.2rem;
            height: 80px;
            margin-bottom: -30px;

            &__content{
                line-height: 80px;
                text-align: center;
            }
        }

        &__list{
            width: 100%;
            padding-top: 3rem;
            padding-bottom: 3rem;
            list-style: none;
            &__item{
                width: 100%;
                display: block;
                text-decoration: none;
                height: 60px;      
                line-height:60px;    
                padding-bottom: 1rem;
                padding-left: 1rem;
                cursor: pointer;

                &:hover{
                    background-color: white;
                    color: $color-black-shaded;
                }
      
                &__content{
                    width:100%;
                    font-size: 1rem;

                    &__icon{
                        margin-right: 1rem;
                    }
                }
            }

            
        }
    }
    
}



