mat-spinner{
    
    display: block;
    margin-top: 15rem;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.mat-spinner-dialog{
    
    display: block;
    margin-top: 100px !important;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}