


.action-button {
    display:inline-block;
    margin-left: 5%;
    margin-right: 5%;
    width: 40%
}

.button-blue{
    
    background-color: $color-primary !important;
    color: $color-white !important;
    padding:0;

    
}

.button-secondary-color{
    background-color:$color-secondary-light !important;
    color: $color-black !important;
    padding:0;

}

.button-green{
    background-color: $color-green !important;
    color: $color-white !important;
    padding:0;
}

.button-orange{
    background-color: $color-orange !important;
    color: $color-white !important;
    padding:0;
}


.button-red{
    background-color: $color-red !important;
    color: $color-white  !important;
    padding:0;
}